# Ignore log files
.log
# Ignore data files
data/*
# Ignore local environment variables
.env
# Ignore Jupyter Notebook checkpoints
.DS_Store
# Ignore Python cache files
__pycache__/
# Ignore compiled Python files
*.pyc
# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints
